[submodule "humble_ws/src/go2w_unitree_ros2"]
	path = humble_ws/src/go2w_unitree_ros2
	url = https://github.com/koki67/go2_unitree_ros2.git
	branch = imu_publisher
[submodule "humble_ws/src/unitree_ros2"]
	path = humble_ws/src/unitree_ros2
	url = https://github.com/koki67/unitree_ros2.git
	branch = master
[submodule "humble_ws/src/HesaiLidar_ROS2_techshare"]
	path = humble_ws/src/HesaiLidar_ROS2_techshare
	url = https://github.com/koki67/HesaiLidar_ROS2_techshare.git
	branch = main
